* {
  overflow: hidden;
}

#htmlreca{
  background-color: blue;
}


#body{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/espaço1.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    color: #14c5ea
}

#recadosHTML{
  background-image: url(./img/espaço2.jpg);
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  color: #14c5ea;
}

#headerRecado{
  background-color: rgba(5, 5, 5, 0.623);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
}

#tituloheadrecado{
  color: white;
  animation: neon 8s infinite;
}

.form-control:focus{
  background-color: rgba(5, 5, 5, 0.623);
  color: white;
  border: solid;
  border-color: white;
  box-shadow: none;
}

.form-control{
  background-color: rgba(5, 5, 5, 0.623);
  color: white;
  border: none;
  border-style: none;
  box-shadow: none;
}

button{
  margin: 1vh;
}

#formUm{
  background: rgba(48, 45, 233, 0);
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 50px;
}

.modal-content{
  background-image: url(./img/planetas_modal.jpg);
  border-radius: 25px;
}

#modal-apagar{
  color: white;
}

#emailHelp{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
  color: red;
}


.lua {
  width: 190px;
  height: 190px;
  background-image: url(./img/lua.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 0px;
  animation-name: luaanimacao;
  animation: luaanimacao 350s linear infinite normal;
}

.astronauta {
  width: 380px;
  height: 305px;
  background-image: url(./img/astronauta2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  animation-name: astronauta;
  animation: astronauta 35s linear infinite normal;
}



@keyframes luaanimacao {
  from {
    transform: rotate(360deg);
  }
  
  to {
    transform: rotate(-360deg);
  }
}

@keyframes astronauta {
  0%{
    transform: rotate(0deg);
  }
  
  50%{
    transform: rotate(10deg);
  }

  100%{
    transform: rotate(0deg);
  }
}



@keyframes neon{
  0%, 39%, 41%, 59%,61%,100%{
    text-shadow:
    white 0 0 12px,
    #14c5ea 0 0 24px,
    #14c5ea 0 0 36px;
  }
  40%, 60%{
    text-shadow: none;
  }
}
